force-app/main/default/flows/Update_Schedules_and_Calculate_Rev_Years.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FaultEmailMessage</name>
        <label>FaultEmailMessage</label>
        <locationX>1745</locationX>
        <locationY>64</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>someone@example.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Error Occurred in the Opportunity: SCH - Revenue Schedules - Daily Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateFaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Calculated_Revenue_to_OLI</name>
        <label>Assign Calculated Revenue to OLI</label>
        <locationX>1677</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Product_Values</name>
        <label>Assign Opp Product Values</label>
        <locationX>1981</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Revenue_from_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1494</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>varOLICollection1toUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_OLIs_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_YR1_One_Time_to_OLI</name>
        <label>Assign YR1 One-Time to OLI</label>
        <locationX>1680</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1_One_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_1st_Line_Item_Schedules_0</name>
        <label>Create 1st Line Item Schedule</label>
        <locationX>24</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLIAmount1st</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductIDOnSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Line_Item_Schedules</name>
        <label>Create Line Item Schedules</label>
        <locationX>281</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcMoreSLIRev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductIDOnSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Product_ID</name>
        <label>Set Opp Product ID</label>
        <locationX>815</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>varOppProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_YR1_One_Time</name>
        <label>Set YR1 One-Time</label>
        <locationX>1502</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_YR1_One_Time_to_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_YR_Variables</name>
        <label>Set YR Variables</label>
        <locationX>1336</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR3</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR5</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Product_a_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSLICollection</name>
        <label>UpdateSLICollection</label>
        <locationX>143</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>varSLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSLIRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_OLIs_by_Product_and_Date</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort OLIs by Product and Date</label>
        <locationX>868</locationX>
        <locationY>213</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <connector>
            <targetReference>Loop_through_all_OLIs_2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product2Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ServiceDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_SLIs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort SLIs</label>
        <locationX>1817</locationX>
        <locationY>736</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_New_Schedules</collectionReference>
        <connector>
            <targetReference>Calculate_Revenue_from_Schedules</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product_ID__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ScheduleDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Create_Schedule</name>
        <label>Create Schedule</label>
        <locationX>79</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_OLIs_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done Creating Records</defaultConnectorLabel>
        <rules>
            <name>Create_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1st_Line_Item_Schedules_0</targetReference>
            </connector>
            <label>Create 1st</label>
        </rules>
        <rules>
            <name>Create_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_through_all_OLIs_2.Product_Line_Months__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Item_Schedules</targetReference>
            </connector>
            <label>Create More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Existing_Schedule</name>
        <label>Delete Existing Schedule</label>
        <locationX>505</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Total_Price_on_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>Delete_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_2.HasRevenueSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Line_Item_Schedules</targetReference>
            </connector>
            <label>Delete Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_OLI</name>
        <label>Existing OLI</label>
        <locationX>667</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>No OLI</defaultConnectorLabel>
        <rules>
            <name>OLI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProductID.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Schedule</targetReference>
            </connector>
            <label>OLI Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Closed_Won</name>
        <label>Is Opportunity Closed Won?</label>
        <locationX>911</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Update_Forecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Win</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_OLIs_1</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_a_Subscription</name>
        <label>Is Product a Subscription?</label>
        <locationX>1501</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Set_YR1_One_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-time</defaultConnectorLabel>
        <rules>
            <name>Subscription</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Product_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Schedules</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLI_Manually_Adjusted</name>
        <label>OLI Manually Adjusted?</label>
        <locationX>1228</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Set_YR_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Manual_Adjustment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_OLIs_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Price_on_OLI</name>
        <label>Total Price on OLI</label>
        <locationX>224</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Update_Forecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total Price is 0</defaultConnectorLabel>
        <rules>
            <name>Total_Price_is_not_Zero_or_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_2.TotalPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_2.TotalPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Schedule</targetReference>
            </connector>
            <label>Total Price is not Zero or Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcCurrYR1</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR1&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR1withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF({!varPriorDateDelta} &gt;= 12, 0, (
IF({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 12, {!varCurrTotalPrice},
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*(12-{!varPriorDateDelta}) )))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR2</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR2&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR2withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} &gt;24) || ({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 12), 0,(
IF(({!varPriorDateDelta} &gt;12) &amp;&amp; ({!varCurrDateDelta} &lt;= 12), {!varCurrTotalPrice}, 
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*12)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR3</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR3&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR3withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} &gt;36) || ({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 24), 0,(
IF(({!varPriorDateDelta} &gt;24) &amp;&amp; ({!varCurrDateDelta} &lt;= 24), {!varCurrTotalPrice}, 
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*24)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR4</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR4&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR4withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} &gt;48) || ({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 36), 0,(
IF(({!varPriorDateDelta} &gt;36) &amp;&amp; ({!varCurrDateDelta} &lt;= 36), {!varCurrTotalPrice}, 
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*36)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR5</name>
        <dataType>Currency</dataType>
        <expression>IF( 
({!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR5&quot; || {!Calculate_Revenue_from_Schedules.Term__c}=&quot;n/a&quot;),
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR5withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} + {!varCurrDateDelta}) &gt;60, 0,
(IF ( ({!varPriorDateDelta} + {!varCurrDateDelta}) &gt; 48, {!varCurrTotalPrice}, 
0)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcMaxEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
({!Loop_through_all_OLIs_2.End_Date__c}&gt;= {!varMaxEndDate} ||  ISNULL({!varMaxEndDate})),  {!Loop_through_all_OLIs_2.End_Date__c},{!varMaxEndDate} )</expression>
    </formulas>
    <formulas>
        <name>calcMinStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!Loop_through_all_OLIs_2.ServiceDate} &lt;= {!varMinStartDate} || ISNULL({!varMinStartDate} )) , {!Loop_through_all_OLIs_2.ServiceDate},{!varMinStartDate} )</expression>
    </formulas>
    <formulas>
        <name>calcMoreSLIRev</name>
        <dataType>Currency</dataType>
        <expression>({!Loop_through_all_OLIs_2.TotalPrice}-{!SLIAmount1st})/({!Loop_through_all_OLIs_2.Product_Line_Months__c}-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcProductLoop</name>
        <dataType>Number</dataType>
        <expression>IF({!varPriorProductID}={!Loop_through_all_OLIs_1.Product2.Id}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcResetCurrLoopCounter</name>
        <dataType>Number</dataType>
        <expression>IF({!varPriorProductID}={!Loop_through_all_OLIs_2.Product2Id},{!varCurrLoopCounter},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR1</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR1},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR2</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR2},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR3</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR3},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR4</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR4},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR5</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR5},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcTerm</name>
        <dataType>String</dataType>
        <expression>IF( 
 ( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt;= ADDMONTHS({!varTermStartDate},-1) &amp;&amp; {!Calculate_Revenue_from_Schedules.ScheduleDate}&lt;= ADDMONTHS({!varTermStartDate},11)), 
&quot;YR1&quot;, 
IF( ( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt;= ADDMONTHS({!varTermStartDate} ,11) &amp;&amp; ADDMONTHS({!varTermStartDate},11) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp; 
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},23) ), 
&quot;YR2&quot;, 
IF( 
( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt; ADDMONTHS({!varTermStartDate} ,23) &amp;&amp; ADDMONTHS({!varTermStartDate},23) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp; 
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},35) ), 
&quot;YR3&quot;, 
IF( 
( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt; ADDMONTHS({!varTermStartDate} ,35) &amp;&amp; ADDMONTHS({!varTermStartDate},35) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp;
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},47) ), 
&quot;YR4&quot;, 
&quot;n/a&quot;
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>ScheduleDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( DATE( YEAR( {!varServiceStartDate} ), MONTH( {!varServiceStartDate}), 1), {!varNumberofMonthsCounter})</expression>
    </formulas>
    <formulas>
        <description>Amount for the first SLI. Amount - (MRR * (Contract Months -1))
{!Get_Opp.Amount} - ( ({!Get_Opp.Amount} /{!Get_Opp.Contract_Months__c}) * ({!Get_Opp.Contract_Months__c}-1))</description>
        <name>SLIAmount1st</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_all_OLIs_2.TotalPrice} - ( ROUND(({!Loop_through_all_OLIs_2.TotalPrice} /{!Loop_through_all_OLIs_2.Product_Line_Months__c}),2) * ({!Loop_through_all_OLIs_2.Product_Line_Months__c}-1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Schedules and Calculate Rev Years {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Schedules and Calculate Rev Years</label>
    <loops>
        <name>Calculate_Revenue_from_Schedules</name>
        <label>Calculate Revenue from Schedules</label>
        <locationX>1980</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_New_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Product_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Calculated_Revenue_to_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_OLIs_1</name>
        <label>Loop through all OLIs 1</label>
        <locationX>1149</locationX>
        <locationY>679</locationY>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OLI_Manually_Adjusted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_OLIs_2</name>
        <label>Loop through all OLIs 2</label>
        <locationX>1024</locationX>
        <locationY>442</locationY>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opp_Product_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLI_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OLI_Schedule</name>
        <label>Create OLI Schedule</label>
        <locationX>920</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>Is_Opportunity_Closed_Won</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <inputReference>varSLICollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Line_Item_Schedules</name>
        <label>Delete Line Item Schedules</label>
        <locationX>433</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>Total_Price_on_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_existing_OLIs</name>
        <label>Get existing OLIs</label>
        <locationX>652</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_OLIs_by_Product_and_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Product2Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Schedules</name>
        <label>Get New Schedules</label>
        <locationX>1660</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_SLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <sortField>OpportunityLineItemId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>448</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_OLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Update_Forecast</name>
        <label>Uncheck Update Forecast</label>
        <locationX>1091</locationX>
        <locationY>911</locationY>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Update_Forecast__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OLIs</name>
        <label>Update OLIs</label>
        <locationX>1197</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>Uncheck_Update_Forecast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultEmailMessage</targetReference>
        </faultConnector>
        <inputReference>varOLICollection1toUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_Forecast__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-28</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred for Update Schedules and Calculate Rev Years - Opportunity: SCH - Revenue Schedules - Daily
{!$Flow.CurrentDateTime} - {!$Record.Name}

Opportunity ID: {!$Record.Id}
Running User: {!$User.FirstName}
Error: {!$Flow.FaultMessage}
Error Time: {!$Flow.CurrentDateTime}</text>
    </textTemplates>
    <variables>
        <name>NewLineItemSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp_LineItemScheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varCurrDateDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Maximum End Date on OLI</description>
        <name>varMaxEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Minimum Start Date on OLI</description>
        <name>varMinStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofMonthsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOLICollection1toUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOppProductID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varPriorDateDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPriorEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductIDOnSLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduleQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varServiceStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varSLIRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varTermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opp.Term_End_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varYR1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
