force-app/main/default/flows/Update_Schedules_from_Oppty_Button_Click.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Calculated_Revenue_to_OLI</name>
        <label>Assign Calculated Revenue to OLI</label>
        <locationX>1677</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Product_Values</name>
        <label>Assign Opp Product Values</label>
        <locationX>1981</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calcCurrYR4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Revenue_from_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1494</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>varOLICollection1toUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_OLIs_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_YR1_One_Time_to_OLI</name>
        <label>Assign YR1 One-Time to OLI</label>
        <locationX>1680</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1_One_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRoundvarYR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_OLIs_1.YR4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_1st_Line_Item_Schedules_0</name>
        <label>Create 1st Line Item Schedule</label>
        <locationX>24</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLIAmount1st</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductIDOnSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Line_Item_Schedules</name>
        <label>Create Line Item Schedules</label>
        <locationX>281</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcMoreSLIRev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.ScheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductIDOnSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSLIRecordVariable.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSLICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Product_ID</name>
        <label>Set Opp Product ID</label>
        <locationX>815</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>varOppProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofMonthsCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_YR1_One_Time</name>
        <label>Set YR1 One-Time</label>
        <locationX>1502</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_YR1_One_Time_to_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_YR_Variables</name>
        <label>Set YR Variables</label>
        <locationX>1336</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>varYR1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR3</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYR4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Product_a_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSLICollection</name>
        <label>UpdateSLICollection</label>
        <locationX>143</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>varSLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSLIRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_OLIs_by_Product_and_Date</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort OLIs by Product and Date</label>
        <locationX>872</locationX>
        <locationY>326</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <connector>
            <targetReference>Loop_through_all_OLIs_2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product2Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ServiceDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_SLIs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort SLIs</label>
        <locationX>1817</locationX>
        <locationY>865</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_New_Schedules</collectionReference>
        <connector>
            <targetReference>Calculate_Revenue_from_Schedules</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product_ID__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ScheduleDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Create_Schedule</name>
        <label>Create Schedule</label>
        <locationX>79</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_OLIs_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done Creating Records</defaultConnectorLabel>
        <rules>
            <name>Create_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1st_Line_Item_Schedules_0</targetReference>
            </connector>
            <label>Create 1st</label>
        </rules>
        <rules>
            <name>Create_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_through_all_OLIs_2.Product_Line_Months__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberofMonthsCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Item_Schedules</targetReference>
            </connector>
            <label>Create More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Datal_Validation_Check</name>
        <label>Datal Validation Check</label>
        <locationX>538</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>InvalidOppScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Proceed_Sufficient_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Term_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Term_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_OLIs</targetReference>
            </connector>
            <label>Proceed - Sufficient Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Existing_Schedule</name>
        <label>Delete Existing Schedule</label>
        <locationX>505</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>Delete_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_2.HasRevenueSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Line_Item_Schedules</targetReference>
            </connector>
            <label>Delete Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_OLI</name>
        <label>Existing OLI</label>
        <locationX>667</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>No OLI</defaultConnectorLabel>
        <rules>
            <name>OLI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProductID.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Schedule</targetReference>
            </connector>
            <label>OLI Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_a_Subscription</name>
        <label>Is Product a Subscription?</label>
        <locationX>1493</locationX>
        <locationY>872</locationY>
        <defaultConnector>
            <targetReference>Set_YR1_One_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-time</defaultConnectorLabel>
        <rules>
            <name>Subscription</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Product_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Schedules</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLI_Manually_Adjusted</name>
        <label>OLI Manually Adjusted?</label>
        <locationX>1228</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_YR_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_OLIs_1.Manual_Adjustment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_OLIs_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A Screen Flow to allow Anneli or other rev ops team member to manually trigger the Product Schedule (re-)calculations for a given Opp.</description>
    <environments>Default</environments>
    <formulas>
        <name>calcCurrYR1</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR1&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR1withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF({!varPriorDateDelta} &gt;= 12, 0, (
IF({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 12, {!varCurrTotalPrice},
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*(12-{!varPriorDateDelta}) )))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR2</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR2&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR2withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} &gt;24) || ({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 12), 0,(
IF(({!varPriorDateDelta} &gt;12) &amp;&amp; ({!varCurrDateDelta} &lt;= 12), {!varCurrTotalPrice}, 
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*12)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR3</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR3&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR3withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} &gt;36) || ({!varPriorDateDelta}+{!varCurrDateDelta} &lt;= 24), 0,(
IF(({!varPriorDateDelta} &gt;24) &amp;&amp; ({!varCurrDateDelta} &lt;= 24), {!varCurrTotalPrice}, 
({!varCurrTotalPrice}/{!Loop_through_all_OLIs_1.Product_Line_Months__c})*24)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR4</name>
        <dataType>Currency</dataType>
        <expression>IF( 
{!Calculate_Revenue_from_Schedules.Term__c}=&quot;YR4&quot;,
{!Calculate_Revenue_from_Schedules.Revenue},
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcCurrYR4withPrior</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!varPriorDateDelta} + {!varCurrDateDelta}) &gt;48, 0,
(IF ( ({!varPriorDateDelta} + {!varCurrDateDelta}) &gt; 36, {!varCurrTotalPrice}, 
0)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcMaxEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
({!Loop_through_all_OLIs_2.End_Date__c}&gt;= {!varMaxEndDate} ||  ISNULL({!varMaxEndDate})),  {!Loop_through_all_OLIs_2.End_Date__c},{!varMaxEndDate} )</expression>
    </formulas>
    <formulas>
        <name>calcMinStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!Loop_through_all_OLIs_2.ServiceDate} &lt;= {!varMinStartDate} || ISNULL({!varMinStartDate} )) , {!Loop_through_all_OLIs_2.ServiceDate},{!varMinStartDate} )</expression>
    </formulas>
    <formulas>
        <name>calcMoreSLIRev</name>
        <dataType>Currency</dataType>
        <expression>({!Loop_through_all_OLIs_2.TotalPrice}-{!SLIAmount1st})/({!Loop_through_all_OLIs_2.Product_Line_Months__c}-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcProductLoop</name>
        <dataType>Number</dataType>
        <expression>IF({!varPriorProductID}={!Loop_through_all_OLIs_1.Product2.Id}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcResetCurrLoopCounter</name>
        <dataType>Number</dataType>
        <expression>IF({!varPriorProductID}={!Loop_through_all_OLIs_2.Product2Id},{!varCurrLoopCounter},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR1</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR1},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR2</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR2},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR3</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR3},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRoundvarYR4</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!varYR4},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcTerm</name>
        <dataType>String</dataType>
        <expression>IF( 
 ( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt;= ADDMONTHS({!varTermStartDate},-1) &amp;&amp; {!Calculate_Revenue_from_Schedules.ScheduleDate}&lt;= ADDMONTHS({!varTermStartDate},11)), 
&quot;YR1&quot;, 
IF( ( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt;= ADDMONTHS({!varTermStartDate} ,11) &amp;&amp; ADDMONTHS({!varTermStartDate},11) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp; 
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},23) ), 
&quot;YR2&quot;, 
IF( 
( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt; ADDMONTHS({!varTermStartDate} ,23) &amp;&amp; ADDMONTHS({!varTermStartDate},23) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp; 
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},35) ), 
&quot;YR3&quot;, 
IF( 
( {!Calculate_Revenue_from_Schedules.ScheduleDate}&gt; ADDMONTHS({!varTermStartDate} ,35) &amp;&amp; ADDMONTHS({!varTermStartDate},35) &lt;= ADDMONTHS({!varTermEndDate},1) &amp;&amp;
{!Calculate_Revenue_from_Schedules.ScheduleDate}&lt; ADDMONTHS({!varTermStartDate},47) ), 
&quot;YR4&quot;, 
&quot;n/a&quot;
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>ScheduleDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( DATE( YEAR( {!varServiceStartDate} ), MONTH( {!varServiceStartDate}), 1), {!varNumberofMonthsCounter})</expression>
    </formulas>
    <formulas>
        <description>Amount for the first SLI. Amount - (MRR * (Contract Months -1))
{!Get_Opp.Amount} - ( ({!Get_Opp.Amount} /{!Get_Opp.Contract_Months__c}) * ({!Get_Opp.Contract_Months__c}-1))</description>
        <name>SLIAmount1st</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_all_OLIs_2.TotalPrice} - ( ROUND(({!Loop_through_all_OLIs_2.TotalPrice} /{!Loop_through_all_OLIs_2.Product_Line_Months__c}),2) * ({!Loop_through_all_OLIs_2.Product_Line_Months__c}-1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Schedules from Oppty Button Click {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Schedules from Oppty Button Click</label>
    <loops>
        <name>Calculate_Revenue_from_Schedules</name>
        <label>Calculate Revenue from Schedules</label>
        <locationX>1980</locationX>
        <locationY>800</locationY>
        <collectionReference>Get_New_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Product_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Calculated_Revenue_to_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_OLIs_1</name>
        <label>Loop through all OLIs 1</label>
        <locationX>1149</locationX>
        <locationY>808</locationY>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OLI_Manually_Adjusted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_OLIs_2</name>
        <label>Loop through all OLIs 2</label>
        <locationX>1024</locationX>
        <locationY>571</locationY>
        <collectionReference>Get_existing_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opp_Product_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLI_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OLI_Schedule</name>
        <label>Create OLI Schedule</label>
        <locationX>920</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Loop_through_all_OLIs_1</targetReference>
        </connector>
        <inputReference>varSLICollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Line_Item_Schedules</name>
        <label>Delete Line Item Schedules</label>
        <locationX>665</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_2.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_existing_OLIs</name>
        <label>Get existing OLIs</label>
        <locationX>739</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_OLIs_by_Product_and_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Product2Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Schedules</name>
        <label>Get New Schedules</label>
        <locationX>1665</locationX>
        <locationY>865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_SLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_OLIs_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <sortField>OpportunityLineItemId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>443</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datal_Validation_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OLIs</name>
        <label>Update OLIs</label>
        <locationX>1196</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>varOLICollection1toUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>InvalidOppScreen</name>
        <label>InvalidOppScreen</label>
        <locationX>545</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NeedProductsAndDates</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;This Opportunity either does not have a Product or does not have a Term Start/End Date. Please return to the Opp &amp;amp; update this information before proceeding. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1038</locationX>
        <locationY>1187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;This Opportunity&apos;s Product Schedules and revenue calculations have been updated successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewLineItemSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp_LineItemScheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varCurrDateDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Maximum End Date on OLI</description>
        <name>varMaxEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Minimum Start Date on OLI</description>
        <name>varMinStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofMonthsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOLICollection1toUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOppProductID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varPriorDateDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPriorEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductIDOnSLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduleQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varServiceStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varSLIRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varTermEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opp.Term_End_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Opp.Term_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varYR1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYR4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
